[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Planet RSS Feed for OpenStack
[access "refs/*"]
	owner = group user/Alex-AnqiWang
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alex-AnqiWang
	label-Verified = -1..+1 group user/Alex-AnqiWang
	push = group user/Alex-AnqiWang
	read = group user/Alex-AnqiWang
	rebase = group user/Alex-AnqiWang
	removeReviewer = group user/Alex-AnqiWang
	submit = group user/Alex-AnqiWang
[access "refs/heads/*"]
	create = group user/Alex-AnqiWang
	push = +force group user/Alex-AnqiWang
	pushMerge = group user/Alex-AnqiWang
	read = group user/Alex-AnqiWang
[access "refs/tags/*"]
	push = group user/Alex-AnqiWang
	push = +force group user/Alex-AnqiWang
